<h3>Selected Recipe</h3>
<div class="col" style="padding: 10px">
    <div class="card h-100 generel__border-layout">
        <img src="data:image/png;base64,@CurrentPreviewRecipe.Base64Image" alt="ops..." class="card-img"/>
        <div class="card-header">
            <h4>@CurrentPreviewRecipe.RecipeId. @CurrentPreviewRecipe.Name</h4>
        </div>
        <div class="card-body border-primary">
            <p class="card-text">
                - Calories: @CurrentPreviewRecipe.TotalMacros.Calories.ToString("0") <br>
                - Carbs: @CurrentPreviewRecipe.TotalMacros.Carbs.ToString("0") <br>
                - Fats: @CurrentPreviewRecipe.TotalMacros.Fat.ToString("0") <br>
                - Protein: @CurrentPreviewRecipe.TotalMacros.Protein.ToString("0")
            </p>
        </div>
    </div>
</div>

@code {
    [Parameter] public Recipe CurrentPreviewRecipe { get; set; } = new();
}