@using WebKitchen.Components.SharedComponents;
@inject DBService DbService;
@inject IJSRuntime JsRuntime;

<EditForm Model="@recipeId" OnSubmit="@HandleGettingRecipe">
    <label class="form-label fw-bold">Recipe Id</label>
    <InputNumber id="recipeId" @bind-Value="recipeId" class="form-control"/>
    <button type="submit" class="btn btn-primary">Get Recipe</button>
</EditForm>


@if (currentRecipe != null)
{
    <EditForm Model="@currentRecipe" OnSubmit="@HandleSubmit">
        <label class="form-label fw-bold">Updated Meal Type</label>
        <InputText id="mealType" @bind-Value="currentRecipe.MealType" class="form-control"/>
        <button type="submit" class="btn btn-primary">Update Meal Type</button>
    </EditForm>

    <PreviewRecipe CurrentPreviewRecipe="@currentRecipe"/>
}

<StatusMessageToast @ref="RecipeStatusToaster"></StatusMessageToast>

@code{

    int recipeId = 0;
    string sqlStatusMessage = "<SQL Status Message>";
    Recipe? currentRecipe;
    StatusMessageToast RecipeStatusToaster = null!;

    private async Task HandleGettingRecipe()
    {
        Console.WriteLine("Handling getting recipe...");
        var result = await DbService.GetRecipeById(recipeId);
        if (result.Recipe == null)
            await RecipeStatusToaster.ShowToastAsync(result.Message);
        else
            currentRecipe = result.Recipe;
    }

    private async Task HandleSubmit()
    {
        Console.WriteLine("Handling submit...");
        if (currentRecipe != null)
        {
            Console.WriteLine("Current recipe not null.");
            sqlStatusMessage = await DbService.UpdateRecipeMealTypeRecipeId(currentRecipe.MealType, currentRecipe.RecipeId);

            await RecipeStatusToaster.ShowToastAsync(sqlStatusMessage);

            currentRecipe = null;
        }
    }


}