@rendermode InteractiveServer
@inject DBService DbService
@inject SharedIngredientList GlobalIngredients

<div class="row">
    <div class="col-6">
        <EditForm Model="@recipeId">
            <label class="form-label fw-bold">Recipe Id</label>
            <InputNumber @bind-Value="recipeId" class="form-control"/>

            <button type="submit" class="btn btn-primary" @onclick="GetRecipe">Get Recipe</button>
        </EditForm>
        @if (currentRecipe != null)
        {
            <PreviewRecipe CurrentPreviewRecipe="@currentRecipe"/>
        }
    </div>


    <div class="col">
        @if (currentRecipe != null)
        {
            <button type="button" class="btn btn-primary" @onclick="UpdateIngredients"> Update ingredients</button>

            <div class="row row-cols-1 row-cols-sd-3 row-cols-md-3 row-cols-lg-3 g-3">
                <div class="col">
                    <RealTimeIngredientSearchBar IngredientsData="@GlobalIngredients.Ingredients"
                                                 CurrentIngredientDataHasChanged="@(ing => currentCrossIngredient = ing)"/>
                </div>

                <div class="col">
                    <InputNumber id="name" @bind-Value="currentIngredientGrams" class="form-control"/>
                </div>

                <div class="col">
                    <p>Current ingredient: @currentCrossIngredient.Name</p>
                </div>
            </div>
            <button type="button" class="btn btn-primary" @onclick="AddNewIngredientToRecipe">Add New Ingredient To Recipe
            </button>

            <div class="edit__accordion-button-margin--button">
                <AddedIngredients CurrentAddedIngredients="@currentRecipe.Ingredients"/>
            </div>
        }
    </div>
</div>

<StatusMessageToast @ref="recipeStatusToaster"/>

@code{

    int recipeId;
    int currentIngredientGrams;
    Recipe? currentRecipe;
    Ingredient currentCrossIngredient = new();
    StatusMessageToast recipeStatusToaster = null!;

    private async Task GetRecipe()
    {
        Console.WriteLine("Handling getting recipe...");
        var result = await DbService.GetRecipeByIdAsync(recipeId);
        if (result.Recipe == null)
            await recipeStatusToaster.ShowToastAsync(result.Message);
        else
        {
            currentRecipe = result.Recipe;
        }
    }

    private async Task UpdateIngredients()
    {
        if (currentRecipe == null)
        {
            Console.WriteLine("Recipe is not selected.");
            return;
        }

        currentRecipe.SetTotalMacros();
        currentRecipe.SetTotalCost();
        
        var result = await DbService.UpdateRecipeMacrosAndIngredientsByRecipeIdAsync(currentRecipe, currentRecipe.RecipeId);
        await recipeStatusToaster.ShowToastAsync(result);

        currentRecipe = null;
    }

    private void AddNewIngredientToRecipe()
    {
        Console.WriteLine("Handling db ingredient...");

        if (currentIngredientGrams == 0)
        {
            Console.WriteLine("No grams specified.");
            return;
        }

        if (currentIngredientGrams < 0)
        {
            Console.WriteLine("Grams cant be negative");
            return;
        }

        Console.WriteLine("SharedDbIngredient:");
        currentCrossIngredient.Grams = currentIngredientGrams;
        currentCrossIngredient.PrintIngredient();

        HandleIngredient();
    }

    private void HandleIngredient()
    {
        Console.WriteLine("Handling ingredient...");
        var tempIngredient = currentCrossIngredient.TransferIngredient(currentCrossIngredient);
        tempIngredient.PrintIngredient();

        if (currentRecipe != null)
            currentRecipe.Ingredients.Add(tempIngredient);
        currentCrossIngredient.ClearIngredient();
    }

}