@page "/create-recipe"
@rendermode InteractiveServer
@using WebKitchen.Components.SharedComponents
@inject DBService DbService;
@inject SharedRecipe SharedDbRecipe;
@inject SharedRecipeList GlobalRecipes;
@inject SharedIngredientList GlobalIngredients;

<PageTitle>Create Recipe</PageTitle>

<h1 class="toast-header header-padding font-layout border-layout" id="create-recipe-header">
    Create a new recipe!
</h1>

<div class="card center-content border-layout">
    <div class="card-body">
        <EditForm Model="@currentRecipe" OnValidSubmit="HandleRecipe">
            <DataAnnotationsValidator/>
            <div class="container text-center border-layout paddage">
                <div class="row row-cols-1 row-cols-sd-2 row-cols-md-3 row-cols-lg-3 g-3">
                    <div class="col">
                        <label class="form-label">Meal Type:</label>
                        <InputText id="meal-type" @bind-Value="currentRecipe.MealType"/>
                    </div>

                    <div class="col">
                        <label>Recipe Name:</label>
                        <InputText id="name" @bind-Value="currentRecipe.Name"/>
                    </div>

                    <label class="file-label" for="fileInput">@(string.IsNullOrEmpty(currentRecipe.Base64Image) ? "Choose Image" : "Image Selected")</label>
                    <InputFile id="fileInput" OnChange="HandleImage" class="hidden-file-input"></InputFile>
                    
                    <button type="submit" class="btn btn-primary col">Create Recipe</button>
                </div>
            </div>
        </EditForm>

        <EditForm Model="@currentIngredient" OnValidSubmit="HandleIngredient">
            <DataAnnotationsValidator/>
            <div class="container text-center border-layout paddage">
                <div class="row row-cols-1 row-cols-sd-2 row-cols-md-3 row-cols-lg-3 g-3">
                    <div class="col">
                        <label>Ingredient Name:</label>
                        <InputText id="ingredient-name" @bind-Value="currentIngredient.Name"/>
                    </div>

                    <div class="col">
                        <label>Grams:</label>
                        <InputNumber id="kg" @bind-Value="currentIngredient.Grams"/>
                    </div>

                    <div class="col">
                        <label>Calories (pr. 100g):</label>
                        <InputNumber id="calories" @bind-Value="currentIngredient.CaloriesPer100g"/>
                    </div>

                    <div class="col">
                        <label>Carbs (pr. 100g):</label>
                        <InputNumber id="carbs" @bind-Value="currentIngredient.CarbsPer100g"/>
                    </div>

                    <div class="col">
                        <label>Fats (pr. 100g):</label>
                        <InputNumber id="fats" @bind-Value="currentIngredient.FatPer100g"/>
                    </div>

                    <div class="col">
                        <label>Protein (pr. 100g):</label>
                        <InputNumber id="protein" @bind-Value="currentIngredient.ProteinPer100g"/>
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Add Ingredient</button>
                </div>
            </div>
        </EditForm>

        <EditForm Model="@currentIngredientRecipe">
            <div class="container text-center border-layout paddage">
                <div class="row row-cols-1 row-cols-sd-3 row-cols-md-3 row-cols-lg-3 g-3">
                    <RealTimeRecipeSearchBar RecipesData="@GlobalRecipes.Recipes"/>

                    <div class="col">
                        <label class="form-label">Parts: 1/</label>
                        <InputNumber @bind-Value="currentIngredientRecipeParts"/>
                    </div>

                    <div class="col">
                        <p>Current Recipe: @(SharedDbRecipe?.SelectedRecipe?.Name ?? "")</p>
                    </div>

                    <button type="submit" class="btn btn-primary" @onclick="AddRecipeAsIngredient">Add Recipe As Ingredient</button>
                </div>
            </div>
        </EditForm>
        
        <EditForm Model="@currentIngredientGrams" OnSubmit="HandleDbIngredient">
            <DataAnnotationsValidator/>
            <div class="container text-center border-layout paddage">
                <div class="row row-cols-1 row-cols-sd-3 row-cols-md-3 row-cols-lg-3 g-3">

                    <RealTimeIngredientSearchBar IngredientsData="@GlobalIngredients.Ingredients" CurrentIngredientDataHasChanged="@(value => crossIngredient = value)"/>

                    <div class="col">
                        <label class="form-label">Grams</label>
                        <InputNumber id="gramser" @bind-Value="currentIngredientGrams"/>
                    </div>

                    <div class="col">
                        <p>Current Ingredient: @crossIngredient.Name</p>
                    </div>

                    <button type="submit" class="btn btn-primary">Add Existing Database Ingredient</button>
                </div>
            </div>
        </EditForm>
    </div>
</div>

<AddedIngredients currentIngredients="@currentIngredients"/>
<StatusMessageToast @ref="statusMessageToaster"/>

@code {
    int currentIngredientGrams;
    int currentIngredientRecipeParts;
    Recipe currentRecipe = new();
    Recipe currentIngredientRecipe = new();
    Ingredient currentIngredient = new();
    Ingredient crossIngredient = new();
    StatusMessageToast? statusMessageToaster;
    readonly List<Ingredient> currentIngredients = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Console.WriteLine("Rendering Create Recipe...");

        if (firstRender && !GlobalIngredients.Ingredients.Any())
        {
            try
            {
                var result = await DbService.GetAllDbIngredients();
                if (result.DbIngredients == null)
                {
                    if (statusMessageToaster != null)
                        await statusMessageToaster.ShowToastAsync(result.Message);
                }
                else
                {
                    if (statusMessageToaster != null)
                        await statusMessageToaster.ShowToastAsync(result.Message);
                    Console.WriteLine(result.Message);
                    GlobalIngredients.Ingredients = result.DbIngredients;
                    StateHasChanged();
                }
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error getting ingredients list: " + ex.Message);
                Console.WriteLine("StackTrace: " + ex.StackTrace);
                return;
            }
        }

        if (!firstRender)
            Console.WriteLine("Not first render.");

        if (GlobalIngredients.Ingredients.Any())
            Console.WriteLine("Ingredients are full.");
    }

    private async Task HandleRecipe()
    {
        Console.WriteLine("Handling recipe...");
        if (currentIngredients.Count == 0)
        {
            Console.WriteLine("There are no ingredients.");
            return;
        }

        currentRecipe.Ingredients = currentIngredients;
        currentRecipe.SetTotalMacros();

        Console.WriteLine("Print current recipe");
        currentRecipe.PrintRecipe();

        try
        {
            var result = await DbService.AddRecipeToDb(currentRecipe);
            if (!result.Status)
            {
                if (statusMessageToaster != null)
                    await statusMessageToaster.ShowToastAsync("Error adding recipe to database; "+result.Message);
            }
            else
            {
                if (statusMessageToaster != null)
                    await statusMessageToaster.ShowToastAsync(result.Message);
            }
        }
        catch (Exception e)
        {
            Console.WriteLine("Error sending recipe to database: " + e.Message);
            throw;
        }

        currentRecipe.ClearRecipe();
        currentIngredient.ClearIngredient();
        currentIngredients.Clear();
    }

    private async Task HandleImage(InputFileChangeEventArgs imageFile)
    {
        foreach (var image in imageFile.GetMultipleFiles())
        {
            if (!image.ContentType.Contains("image"))
            {
                Console.WriteLine($"\"{image.ContentType}\" is not allowed");
                // Popup message saying so.
                return;
            }

            try
            {
                await currentRecipe.SetRecipeImage(image);
            }
            catch (Exception ex)
            {
                Console.WriteLine("Error setting image: " + ex.Message);
                Console.WriteLine(ex.StackTrace);
                return;
            }
        }
    }

    public void HandleIngredient()
    {
        Console.WriteLine("Handling ingredient...");
        var tempIngredient = currentIngredient.TransferIngredient(currentIngredient);
        tempIngredient.PrintIngredient();

        currentIngredients.Add(tempIngredient);
        currentIngredient.ClearIngredient();
    }

    private async Task AddRecipeAsIngredient()
    {
        Console.WriteLine("Adding recipe as ingredient...");

        currentIngredientRecipe = SharedDbRecipe.SelectedRecipe;

        if (string.IsNullOrEmpty(currentIngredientRecipe.Name))
        {
            Console.WriteLine("Current ingredient recipe is not selected");
            if (statusMessageToaster != null) 
                await statusMessageToaster.ShowToastAsync("Ingredient recipe is not selected");
            return;
        }
        
        if (currentIngredientRecipeParts < 1)
        {
            Console.WriteLine("Parts are below 1");
            if (statusMessageToaster != null) 
                await statusMessageToaster.ShowToastAsync("Parts cant be less than 1");
            return;
        }
        
        Ingredient tempIngredient = new();
        
        currentIngredientRecipe.PrintRecipe();

        tempIngredient.Name = currentIngredientRecipe.Name;
        tempIngredient.CaloriesPer100g = currentIngredientRecipe.TotalMacros.Calories;
        tempIngredient.FatPer100g = currentIngredientRecipe.TotalMacros.Fat;
        tempIngredient.CarbsPer100g = currentIngredientRecipe.TotalMacros.Carbs;
        tempIngredient.ProteinPer100g = currentIngredientRecipe.TotalMacros.Protein;
        // ReSharper disable once PossibleLossOfFraction
        tempIngredient.Grams = 100 / currentIngredientRecipeParts;
        
        currentIngredients.Add(tempIngredient);
        currentIngredientRecipe.ClearRecipe();
    }

    public async Task HandleDbIngredient()
    {
        Console.WriteLine("Handling db ingredient...");

        if (string.IsNullOrEmpty(crossIngredient.Name))
        {
            Console.WriteLine("No db ingredient selected");
            if (statusMessageToaster != null)
                await statusMessageToaster.ShowToastAsync("No database ingredient selected");
            return;
        }
        
        if (currentIngredientGrams == 0)
        {
            Console.WriteLine("No grams specified.");
            if (statusMessageToaster != null)
                await statusMessageToaster.ShowToastAsync("No grams selected.");
            return;
        }

        currentIngredient.Name = crossIngredient.Name;
        currentIngredient.Grams = currentIngredientGrams;
        currentIngredient.CaloriesPer100g = crossIngredient.CaloriesPer100g;
        currentIngredient.FatPer100g = crossIngredient.FatPer100g;
        currentIngredient.CarbsPer100g = crossIngredient.CarbsPer100g;
        currentIngredient.ProteinPer100g = crossIngredient.ProteinPer100g;

        HandleIngredient();
    }

}