@page "/edit"
@rendermode InteractiveServer
@using WebKitchen.Components.Pages.EditForms;

<PageTitle>Edit</PageTitle>

<div class="dropdown mb-2">
    <a class="btn btn-primary custom-layout dropdown-toggle btn-lg" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Choose what to edit
    </a>

    <ul class="dropdown-menu">
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("mealType"))">Recipe Meal
                Type
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("name"))">Recipe Name
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("ingredient"))">Recipe
                Ingredient
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("image"))">Recipe Image
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("delete-recipe"))">Delete
                Recipe
            </button>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("database-ingredient"))">
                Database Ingredient
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("delete-ingredient"))">
                Delete
                Database Ingredient
            </button>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("instructions"))">
                Instructions
            </button>
        </li>
    </ul>
</div>

@if (selectedOption != "")
{
    <div class="card generel__border-layout">
        <div class="card-body edit__button-margin--button">
            @switch (selectedOption)
            {
                case "mealType":
                    <div class="edit-recipes-form">
                        <EditMealTypeForm/>
                    </div>
                    break;
                case "name":
                    <div class="edit-recipes-form">
                        <EditRecipeNameForm/>
                    </div>
                    break;
                case "ingredient":
                    <EditRecipeIngredientForm/>
                    break;
                case "image":
                    <div class="edit-recipes-form">
                        <EditRecipeImageForm/>
                    </div>
                    break;
                case "delete-recipe":
                    <div class="edit-recipes-form">
                        <DeleteRecipeForm/>
                    </div>
                    break;
                case "database-ingredient":
                    <div>
                        <EditDbIngredient/>
                    </div>
                    break;
                case "delete-ingredient":
                    <div class="edit-recipes-form">
                        <DeleteDbIngredientForm/>
                    </div>
                    break;
                case "instructions":
                    <div>
                        <EditInstructionsForm/>
                    </div>
                    break;
            }
        </div>

    </div>
}

@code {

    private string selectedOption = string.Empty;

    private void ChangeOption(string option)
    {
        selectedOption = option;
        StateHasChanged();
    }

}

