@page "/edit"
<PageTitle>Edit</PageTitle>

@rendermode InteractiveServer

@using WebKitchen.Components.Pages.EditForms;

<style>
    .custom-header{
        background-color: #313131;
        color: #48d7ff;
        border-radius: 5px;
        font-family: "Calibri Light", serif;
        display: inline-block;
        border: 2px solid #48d7ff;
        font-style: italic;
        font-weight: bold;
    }
    
    .custom-header:hover{
        background-color: #313131;
        color: #48d7ff;
    }
</style>

<div class="dropdown">
    <a class="btn btn-secondary custom-layout dropdown-toggle btn-lg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Choose an option
    </a>

    <ul class="dropdown-menu">
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("mealType"))">Recipe Meal Type</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("name"))">Recipe Name</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("ingredient"))">Recipe Ingredient</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("image"))">Recipe Image</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("deleteRecipe"))">Delete Recipe</button>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("ingredientDb"))">Ingredient in Database</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("deleteIngredient"))">Delete Ingredient</button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => HandleOptionChange("ingredientImage"))">Ingredient Image</button>
        </li>
    </ul>
</div>

@switch (selectedOption)
{
    case "mealType":
        <EditMealTypeForm/>
        break;
    case "name":
        <EditNameForm/>
        break;
    case "ingredient":
        <EditIngredientForm/>
        break;
    case "image":
        <EditRecipeImageForm/>
        break;
    case "deleteIngredient":
        <DeleteIngredientForm/>
        break;
    case "ingredientImage":
        <EditIngredientImageForm/>
        break;
    default:
        <p>Not an option</p>
        break;
}

@code {

    private string selectedOption = string.Empty;

    private void HandleOptionChange(string option)
    {
        selectedOption = option;
        StateHasChanged();
    }

}

