@page "/edit"
@rendermode InteractiveServer
@using WebKitchen.Components.Pages.EditForms;
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<div class="dropdown mb-2">
    <a class="btn btn-primary custom-layout dropdown-toggle btn-lg" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        Choose what to edit
    </a>

    <ul class="dropdown-menu">
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("edit-recipe"))">
                Recipe
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("delete-recipe"))">Delete
                Recipe
            </button>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("database-ingredient"))">
                Database Ingredient
            </button>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("delete-ingredient"))">
                Delete
                Database Ingredient
            </button>
        </li>
        <li>
            <hr class="dropdown-divider"/>
        </li>
        <li>
            <button class="dropdown-item" type="submit" onclick="@(() => ChangeOption("instructions"))">
                Instructions
            </button>
        </li>
    </ul>
</div>

@if (_selectedOption != "")
{
    <div class="card generel__border-layout">
        <div class="card-body edit__button-margin--button">
            @switch (_selectedOption)
            {
                case "delete-recipe":
                    <div class="edit-recipes-form">
                        <DeleteRecipeForm/>
                    </div>
                    break;
                case "database-ingredient":
                    <div>
                        <EditDbIngredient/>
                    </div>
                    break;
                case "delete-ingredient":
                    <div class="edit-recipes-form">
                        <DeleteDbIngredientForm/>
                    </div>
                    break;
                case "instructions":
                    <div>
                        <EditInstructionsForm/>
                    </div>
                    break;
                case "edit-recipe":
                    <div>
                        <EditRecipe/>
                    </div>
                    break;
                default:
                    _selectedOption = "";
                    break;
            }
        </div>

    </div>
}

@code {

    private string _selectedOption = string.Empty;

    protected override Task OnInitializedAsync()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);

        string? option = query["option"];
        if (!string.IsNullOrEmpty(option))
        {
            ChangeOption(option);
        }

        return Task.CompletedTask;
    }

    private void ChangeOption(string option)
    {
        _selectedOption = option;
        StateHasChanged();
    }

}

