@page "/"
<PageTitle>Recipes</PageTitle>

@inject DBService DbService;

@* ToDo: When you click on the image of a recipe, you get sent to a page with more details and a guide *@
@* ToDo: Finish plan meal page *@
@* ToDo: Have a toast come up when you add a recipe *@
@* ToDo: Toast come up to show that a recipe did not go through because it lacked an ingredient *@

<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1">
        @foreach (var recipe in _recipes)
        {
            <div class="col" style="padding: 10px">
                <div class="card h-100"> 
                    <img src="@recipe.Image" alt="ops..." class="card-img"/> @* card-img helps the look of the cards. *@
                    <div class="card-header">
                        <h4>@recipe.Name</h4>
                    </div>
                    <div class="card-body border-primary">
                        <p class="card-text">
                            - Calories: @recipe.TotalMacros.TotalCalories.ToString("0") <br>
                            - Carbs: @recipe.TotalMacros.TotalCarbs.ToString("0") <br>
                            - Fats: @recipe.TotalMacros.TotalFats.ToString("0") <br>
                            - Protein: @recipe.TotalMacros.TotalProtein.ToString("0")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
    

</div>

@code{
    private List<Recipe> _recipes = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await using var connection = DbService.GetConnection();
            if (connection.State == System.Data.ConnectionState.Open)
            {
                Console.WriteLine("Database connection successful");
            }
            else
            {
                Console.WriteLine("Failed to connect to database");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error connecting to recipes db: {e.Message}");
        }

        try
        {
            _recipes = await DbService.GetRecipesAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine("Error getting recipes" + ex);
            throw;
        }
    }


}