@page "/images"
<PageTitle>Images</PageTitle>
@rendermode InteractiveServer
@using System.IO
@using Services
@inject DBService DbService;

<h1>Upload Image To Database</h1>

<InputFile OnChange="LoadImages">Upload Image</InputFile>

@if (isLoading)
{
    <p>Uploading...</p>
}
else
{
    <ul>
        @foreach (var file in loadedFiles)
        {
            <li>
                <EditForm Model="@currentImageName" OnValidSubmit="@HandleImageToDb">
                    <DataAnnotationsValidator/>
                    <label>
                        Image Name
                    </label>
                    <InputText id="name" @bind-Value="@currentImageName"/>
                    <button type="submit" class="btn btn-primary">Upload Image To Database</button>
                </EditForm>
                <ul>
                    <li>Size (bytes): @file.Size</li>
                    <li>Content type: @file.ContentType</li>
                    <li>
                        <img src="data:image/png;base64,@base64Image" alt="fuck" style="max-width: 50%"/>
                    </li>
                </ul>
            </li>
        }
    </ul>
}


@code {
    private string base64Image = "";
    private List<IBrowserFile> loadedFiles = new();
    // private long maxFileSize = 1024 * 5000; // 5 MB
    private bool isLoading;
    private string currentImageName = "";

    private async Task LoadImages(InputFileChangeEventArgs images)
    {
        isLoading = true;
        loadedFiles.Clear();
        
        foreach (var image in images.GetMultipleFiles())
        {
            if (!image.ContentType.Contains("image"))
            {
                Console.WriteLine($"\"{image.ContentType}\" is not allowed");
                return;
            }
            
            using var memoryStream = new MemoryStream();
            await image.OpenReadStream().CopyToAsync(memoryStream);
            var imageBytes = memoryStream.ToArray();
            var tempBase64Image = Convert.ToBase64String(imageBytes);
            base64Image = tempBase64Image;
            
            loadedFiles.Add(image);
        }
        
        isLoading = false;
        StateHasChanged();
    }

    private async Task HandleImageToDb()
    {
        await DbService.UploadImageBase64Async(currentImageName,base64Image);
        
        loadedFiles.Clear();
        base64Image = "";
        currentImageName = "";
        
        StateHasChanged();
    }

}