@page "/plan-meals"
@rendermode InteractiveServer
<PageTitle>Plan Meals</PageTitle>

@inject DBService DbService;
@inject IJSRuntime JsRuntime;

<link rel="stylesheet" href="app.css"/>

<style>
    .ingredient-form {
        background-color: #272B2F;
        padding: 25px;
        border-radius: 10px;
        border: 3px solid #48d7ff;
        color: #48d7ff;
        font-family: "Calibri Light", sans-serif;
        font-style: italic;
        font-weight: bold;
    }
    
    .border-style{
        background-color: #272B2F;
        padding: 25px;
        border-radius: 10px;
        border: 3px solid #48d7ff;
    }

    .alignment{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
</style>

@* Total macros for a day *@
<div class="container ingredient-form">
    <div class="row g-1">
        <div class="col alignment">
            <EditForm Model="@_currentRecipeName" OnValidSubmit="@ValidRecipe">
                <label>
                    Recipe Name
                </label>
                <InputText id="name" @bind-Value="@_currentRecipeName"/>
                <button type="submit" class="btn btn-primary">Add Recipe</button>
            </EditForm>
        </div>

        <div class="col alignment">
            @if (_currentDay < 6)
            {
                <button type="submit" class="btn btn-primary" @onclick="IncrementCurrentDay">Next Day</button>
            }
            else
            {
                <button type="submit" class="btn btn-primary" @onclick="DisplayWeek">Finish Week</button>
            }
        </div>

        <div class="col alignment">
            <p>Current day is: @(_currentDay + 1)</p>
        </div>
    </div>

    <div class="border-style" style="margin-top: 25px">
        <button onclick="@PreviousDay" class="btn btn-primary"><strong>&lt;</strong></button>
        <button onclick="@NextDay" class="btn btn-primary"><strong>></strong></button>

        <div class="row g-1">
            <div class="col alignment">Day @(_currentTotalMacrosDay + 1)</div>
            <div class="col alignment">Total Calories: @_weeklyMacros[_currentTotalMacrosDay].TotalCalories.ToString("0")</div>
            <div class="col alignment">Total Fat: @_weeklyMacros[_currentTotalMacrosDay].TotalFats.ToString("0")</div>
            <div class="col alignment">Total Carbs: @_weeklyMacros[_currentTotalMacrosDay].TotalCarbs.ToString("0")</div>
            <div class="col alignment">Total Protein: @_weeklyMacros[_currentTotalMacrosDay].TotalProtein.ToString("0")</div>
        </div>
    </div>

</div>

@* Added recipes *@
<div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-1">
        @foreach (var recipe in _planedRecipes)
        {
            <div class="col" style="padding: 10px">
                <div class="card h-100">
                    <img src="@recipe.Image" alt="ops..." class="card-img"/> @* card-img helps the look of the cards. *@
                    <div class="card-header">
                        <h4>@recipe.Name</h4>
                    </div>
                    <div class="card-body border-primary">
                        <p class="card-text">
                            - Calories: @recipe.TotalMacros.TotalCalories.ToString("0") <br>
                            - Carbs: @recipe.TotalMacros.TotalCarbs.ToString("0") <br>
                            - Fats: @recipe.TotalMacros.TotalFats.ToString("0") <br>
                            - Protein: @recipe.TotalMacros.TotalProtein.ToString("0")
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>

</div>

@*
Button to add a recipe by name.
Button to go to the next day.
Area that shows macros by: Weekly total and daily total.
Area that shows added recipes like the Home page.
*@

@* Cant go less than 1 toaster *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="lower-toast" class="toast custom-header" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-delay="5000">
        <div class="toast-body">
            Cant go lower than day 1.
        </div>
    </div>
</div>

@* Cant go higher than 7 toaster *@
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="higher-toast" class="toast custom-header" role="alert" aria-live="assertive" aria-atomic="true"
         data-bs-delay="5000">
        <div class="toast-body">
            Cant go higher than day 7.
        </div>
    </div>
</div>

<script>
    function showInvalidPreviousDayToast() {
        const toastLiveExample = document.getElementById('lower-toast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        toastBootstrap.show();
    }

    function showInvalidNextDayToast() {
        const toastLiveExample = document.getElementById('higher-toast');
        const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLiveExample);
        toastBootstrap.show();
    }
</script>

@code{

    List<Recipe> _planedRecipes = new();
    List<Recipe> _recipes = new();

    string _currentRecipeName = string.Empty;
    int _currentDay = 0;

    Macros _dayOneMacros = new();
    Macros _dayTwoMacros = new();
    Macros _dayThreeMacros = new();
    Macros _dayFourMacros = new();
    Macros _dayFiveMacros = new();
    Macros _daySixMacros = new();
    Macros _daySevenMacros = new();
    List<Macros> _weeklyMacros = new();

    int _currentTotalMacrosDay = 0;

    protected override async Task OnInitializedAsync()
    {
        _recipes = await DbService.GetRecipesAsync();
    }

    protected override void OnInitialized()
    {
        _weeklyMacros.Add(_dayOneMacros);
        _weeklyMacros.Add(_dayTwoMacros);
        _weeklyMacros.Add(_dayThreeMacros);
        _weeklyMacros.Add(_dayFourMacros);
        _weeklyMacros.Add(_dayFiveMacros);
        _weeklyMacros.Add(_daySixMacros);
        _weeklyMacros.Add(_daySevenMacros);
    }

    private void ValidRecipe()
    {
        int index = _recipes.FindIndex(recipe => recipe.Name == _currentRecipeName);

        if (index != -1)
        {
            Console.WriteLine($"Found {_currentRecipeName} index!");
            AddMacrosToDay(index);
            _planedRecipes.Add(_recipes[index]);
        }
        else
        {
            Console.WriteLine($"Did not find {_currentRecipeName}");
        }

        _currentRecipeName = string.Empty;
        StateHasChanged();
    }

    private void NextDay()
    {
        if (_currentTotalMacrosDay < 6)
        {
            _currentTotalMacrosDay++;
        }
        else
        {
            JsRuntime.InvokeVoidAsync("showInvalidNextDayToast");
            // Toast that says you cant go higher than 7.
        }

        StateHasChanged();
    }

    private void PreviousDay()
    {
        if (_currentTotalMacrosDay > 0)
        {
            _currentTotalMacrosDay--;
        }
        else
        {
            JsRuntime.InvokeVoidAsync("showInvalidPreviousDayToast");
        }

        StateHasChanged();
    }

    private void AddMacrosToDay(int index)
    {
        _weeklyMacros[_currentDay].TotalCalories += _recipes[index].TotalMacros.TotalCalories;
        _weeklyMacros[_currentDay].TotalFats += _recipes[index].TotalMacros.TotalFats;
        _weeklyMacros[_currentDay].TotalCarbs += _recipes[index].TotalMacros.TotalCarbs;
        _weeklyMacros[_currentDay].TotalProtein += _recipes[index].TotalMacros.TotalProtein;
    }

    private void IncrementCurrentDay()
    {
        _currentDay++;
        StateHasChanged();
    }

    private void DisplayWeek()
    {
        StateHasChanged();
    }
}