@page "/random-meal"
@rendermode InteractiveServer

<PageTitle>Random Meal</PageTitle>

<style>
    .random-meal-h {
        background-color: #313131;
        color: #48d7ff;
        border-radius: 5px;
        font-family: "Calibri Light", serif;
        border: 2px solid;
        width: fit-content; /* Automatically fits the block of its content to fit it. */
        margin: 0 auto;
    }
</style>

<h1 class="random-meal-h toast-header">
    <strong>
        <i>Cant decide? Let Fate decide it for you!</i>
    </strong>
</h1>

<div class="container">
    <div class="card" style="width: 50%; margin: 0 auto;">
        @if (_randomRecipe.Name != string.Empty)
        {
            <img src="pics/PlaceHolderPic.jpg" alt="Random Meal" class="card-img"/>
            <div class="card-header">
                <h3>@_randomRecipe.Name</h3>
            </div>
            <div class="card-body border-primary">
                <p class="card-text">
                    - Calories: @_randomRecipe.TotalMacros.TotalCalories.ToString("0") <br>
                    - Carbs: @_randomRecipe.TotalMacros.TotalCarbs.ToString("0")<br>
                    - Fats: @_randomRecipe.TotalMacros.TotalFats.ToString("0")<br>
                    - Protein: @_randomRecipe.TotalMacros.TotalProtein.ToString("0")
                </p>
            </div>
        }
        else
        {
            <button class="btn btn-danger" @onclick="RandomRecipe">Gamble</button>
        }
    </div>
</div>

@code {

    readonly Recipe _randomRecipe = new();

    private void RandomRecipe()
    {
        try
        {
            Console.WriteLine("Getting random recipe...");
            _randomRecipe.GetRandomRecipe();
            _randomRecipe.PrintRecipe();

        }
        catch (Exception e)
        {
            Console.WriteLine("Error at RandonRecipe: "+e.Message);
            throw;
        }
        StateHasChanged();
    }
}